<h1>Park Smart Philly</h1>

<h3>Play it safe - if you're in Philly, find parking violations near you!</h3>

<%= form_for @location do |f| %>
  <%= f.text_field :address, placeholder: "Enter a Philadelphia address here." %>
  <!--TODO: distance-->
  <!--TODO: earliest date-->
  <%= f.submit "Search" %>
<% end %>

<h3>Find recently? My condolences! Help us out by telling us about it.<br>
We can help you play it safe in the future!</h3>

<%= form_for @new_parking_violation do |f| %>
  <%= f.label "When were you fined?" %>
  <%= f.datetime_select :issue_date_time %><br>
  <%= f.label "Where were you fined?" %>
  <%= f.text_field :location %><br>
  <%= f.label "What were you fined for?" %>
  <%= f.text_field :description %><br>
  <%= f.label "How much were you fined?" %>
  <%= f.text_field :fine %><br>
  <%= f.submit "Submit" %>
<% end %>

<% if @parking_violations %>

  <% if @parking_violations.empty? %>
    <h3>No recent parking violations within 1 mile of you!</h3>
  <% else %>
    <h3>We found some parking violations within 1 mile of you:</h3>
    <ul>
      <% @parking_violations.each do |pv| %>
        <%= render partial: "parking_violation", locals: { parking_violation: pv } %>
      <% end %>
    </ul>
  <% end %>

  <!--TODO: statistical averages of parking violations-->

<% end %>
